#container1 {
  height: 400px;
}

#input1 {
  width: 500px;
  margin-top: 20px;
}
#searchFoods {
  padding-right: 30px;
  margin-top: 20px;
}
#headerTitle {
  padding-left: 20px;
  padding-top: 5px;
}
#options {
  margin-right: 80px;
  font-size: 25px;
}

#middle {
  margin-top: 100px;
}
#categories {
  margin-right: 5px;
  font-size: 25px;
}
#dietaryPref {
  margin-right: 5px;
  font-size: 25px;
}

#price {
  margin-right: 5px;
  font-size: 25px;
}
#btnPrice1 {
  margin-right: 10px;
}
#btnPrice2 {
  margin-right: 10px;
}
#distance {
  font-size: 25px;
  padding-right: 5px;
}
#bottomDistance {
  margin-top: 150px;
}

#btnMile1 {
  margin-right: 5px;
}

#btnMile2 {
  margin-right: 5px;
}

#section1 {
  background-color: #f8b9ef;
  color: white;
  text-shadow: 1px 1px black;
  height: 600px;
}

@media only screen and (max-width: 500px) {
  #searchFoods {
    margin-left: 5px;
    margin-top: 10px;
  }

  #input1 {
    margin-top: 10px;
    margin-right: 20px;
  }
  #middle {
    margin-left: 8px;
  }
  #bottomDistance {
    margin-top: 80px;
  }
  #categories {
    display: inline;
  }
  #dietaryPref {
    display: inline;
  }
  #price {
    display: inline;
  }
  .level-right {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  #searchFoods {
    margin-left: 5px;
    margin-top: 10px;
  }
  #input1 {
    margin-top: 10px;
    margin-right: 5px;
  }
  #middle {
    margin-left: 8px;
  }
  #bottomDistance {
    margin-top: 80px;
    float: left;
    margin-left: 5px;
  }
  #categories {
    display: inline;
  }
  #dietaryPref {
    display: inline;
  }
  #price {
    display: inline;
  }
  .level-right {
    margin-top: 20px;
  }
}
