#container1 {
  height: 400px;
}
.hero-body {
  background-color: black;
}

footer p {
  font-size: 25px;
}

form {
  display: inline;
}

.level {
  margin: 0 25%;
}

#input1 {
  width: 580px;
  margin-top: 20px;
}
#searchFoods {
  padding-right: 30px;
  margin-top: 20px;
  color: white;
}
#headerTitle {
  padding-left: 20px;
  padding-top: 5px;
}
#options {
  margin-right: 80px;
  font-size: 25px;
}
#middle {
  margin-top: 100px;
}
#categories {
  margin-right: 5px;
  font-size: 25px;
}
#dietaryPref {
  margin-right: 5px;
  font-size: 25px;
}
#price {
  margin-right: 5px;
  font-size: 25px;
}
#btnPrice1 {
  margin-right: 10px;
}
#btnPrice2 {
  margin-right: 10px;
}
#distance {
  font-size: 25px;
  padding-right: 5px;
}
#bottomDistance {
  margin-top: 150px;
}
#btnMile1 {
  margin-right: 5px;
}
#btnMile2 {
  margin-right: 5px;
}
#containerResults1 {
  position: relative;
  border: solid black 2px;
  width: 500px;
  height: 250px;
  border-radius: 25px;
  margin-bottom: 5px;
  background-color: white;
}
#address1 {
  margin-left: 10px;
}
#googleLink1 {
  margin-left: 10px;
}
#review1 {
  margin-top: 30px;
  margin-left: 10px;
}
#containerResults3 {
  position: relative;
  border: solid black 2px;
  width: 500px;
  height: 250px;
  border-radius: 25px;
  margin-bottom: 5px;
  background-color: white;
}
#address3 {
  margin-left: 10px;
}
#googleLink3 {
  margin-left: 10px;
}
#review3 {
  margin-top: 30px;
  margin-left: 10px;
}
#search-button {
  margin: 0 50%;
  margin-top: 35px;
}
#containerResults2 {
  position: relative;
  border: solid black 2px;
  width: 500px;
  height: 250px;
  border-radius: 25px;
  margin-bottom: 5px;
  background-color: white;
}
#address2 {
  margin-left: 10px;
}
#googleLink2 {
  margin-left: 10px;
}
#review2 {
  margin-top: 30px;
  margin-left: 10px;
}
.title {
  padding-top: 10px;
}
#containerResults4 {
  position: relative;
  border: solid black 2px;
  width: 500px;
  height: 250px;
  border-radius: 25px;
  margin-bottom: 5px;
  background-color: white;
}
#address4 {
  margin-left: 10px;
}
#googleLink4 {
  margin-left: 10px;
}
#review4 {
  margin-top: 30px;
  margin-left: 10px;
}
#containerResults5 {
  position: relative;
  border: solid black 2px;
  width: 500px;
  height: 250px;
  border-radius: 25px;
  background-color: white;
}
#address5 {
  margin-left: 10px;
}
#googleLink5 {
  margin-left: 10px;
}
#review5 {
  margin-top: 30px;
  margin-left: 10px;
}
#foodSearchTitle {
  color: white;
}
#section1 {
  background-color: #f8b9ef;
  color: white;
  text-shadow: 1px 1px black;
  height: 450px;
  width: 100%;
  background-image: url("../assets/images/Great_take_out.jpeg");
  background-position: center;
  background-size: cover;
}
#section2 {
  background-color: cadetblue;
  width: 100%;
}
@media only screen and (max-width: 500px) {
  #section1 {
    background-color: #f8b9ef;
    color: white;
    text-shadow: 1px 1px black;
    height: 600px;
    width: 100%;
  }
  #containerResults1 {
    width: auto;
  }
  #containerResults2 {
    width: auto;
  }
  #containerResults3 {
    width: auto;
  }
  #containerResults4 {
    width: auto;
  }
  #containerResults5 {
    width: auto;
  }
  #searchFoods {
    margin-left: 5px;
    margin-top: 10px;
  }
  #input1 {
    margin-top: 10px;
    margin-right: 20px;
  }
  #middle {
    margin-left: 8px;
  }
  #bottomDistance {
    margin-top: 80px;
  }
  #categories {
    display: inline;
  }
  #dietaryPref {
    display: inline;
  }
  #price {
    display: inline;
  }
  .level-right {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  #searchFoods {
    margin-left: 5px;
    margin-top: 10px;
  }
  #containerResults1 {
    width: auto;
  }
  #containerResults2 {
    width: auto;
  }
  #containerResults3 {
    width: auto;
  }
  #containerResults4 {
    width: auto;
  }
  #containerResults5 {
    width: auto;
  }
  #input1 {
    margin-top: 10px;
    margin-right: 5px;
  }
  #middle {
    margin-left: 8px;
  }
  #bottomDistance {
    margin-top: 80px;
    float: left;
    margin-left: 5px;
  }
  #categories {
    display: inline;
  }
  #dietaryPref {
    display: inline;
  }
  #price {
    display: inline;
  }
  .level-right {
    margin-top: 20px;
  }
}
